<%- include('partials/header', { title: 'Prijava', user: user }) %>
<div class="container">
  <h1>Prijava</h1>
  <a href="/auth/google" class="btn btn-primary">Prijava z Google raÄunom</a>
</div>
<%- include('partials/footer') %>
